<div class="bg-purple-600 py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
        <a class="text-white text-2xl font-bold" href="/">Lego Collection</a>
        <ul class="menu menu-horizontal text-white">
            <div class="navbar-center hidden sm:flex items-center">
                <ul class="flex space-x-4">
                    <li><a class="<%= (page === '/lego/sets') ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>
                    <li><span>&nbsp;&nbsp;</span></li>
                    <li><a class="<%= (page === '/about') ? 'active' : '' %>" href="/about">About</a></li>
                </li>
                <% if (session.user) { %>
                    <li>
                        <details>
                            <summary class="text-white text-lg">Account: <%= session.user.userName %></summary>
                            <ul class="p-2 right-0">
                                <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
                                <li><a class="<%= (page == "/userHistory") ? 'active' : '' %>" href="/userHistory">User History</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </details>
                    </li>
                <% } else { %>
                    <li>
                        <details>
                            <summary class="text-white text-lg">Account</summary>
                            <ul class="p-2 right-0">
                                <li><a class="<%= (page == "/login") ? 'active' : '' %>" href="/login">Login</a></li>
                                <li><a class="<%= (page == "/register") ? 'active' : '' %>" href="/register">Register</a></li>
                            </ul>
                        </details>
                    </li>
                <% } %>
                </ul>
            </div>
        </ul>
    </div>
</div>